fire
regex
requests
tqdm
sentence-transformers
InstructorEmbedding
flash-attn
langchain
langchain-community
langchain-core
langchain-experimental
langchain-google-genai
langchain-groq
langchain-huggingface
langchain-pinecone
langchain-text-splitters
flash-attn
huggingface-hub
pypdf
faiss-gpu
bitsandbytes
accelerate==0.30.0
## pip install -U langchain-huggingface langchain